
<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    &nbsp&nbsp<a class="navbar-brand" href="#">College Canteen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://college-ka-canteen.herokuapp.com">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cantact Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://college-ka-canteen.herokuapp.com/catogaries/fastfood/">FastFoods</a>
            <a class="dropdown-item" href="#">Sweets</a>
          <a class="dropdown-item" href="#">Chat</a>
          <a class="dropdown-item" href="#">Icecreams</a>

        </li>

      <li class="nav-item">
      </li>
    </ul>
    <button type="button" id="loginbutton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Login</button>
    {% block searching %}
      <form method="post" action="https://college-ka-canteen.herokuapp.com/search/" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="ok" value="Search">
    {%csrf_token%}
          </form>
          {% endblock%}
        </div>
      </nav>



      <div class="container jumbotron">
        <h1>Your password updated Succesfully</h1>
        <button type="button" id="loginbutton" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Click here to Login</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLogin </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="https://college-ka-canteen.herokuapp.com" id="login_form" method="post" >
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Username:</label>
                    <input type="text" class="form-control" name="username" id="recipient-name">

                    <label for="recipient-pass" class="col-form-label">Password:</label>
                    <input type="password" name="password" class="form-control" id="recipient-pass">
                  </div>
                  {%csrf_token%}


              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                <input type="submit" name="login" value="Login" class="btn btn-primary">
              </form>
              <form  action="https://college-ka-canteen.herokuapp.com/forgot_password/" method="post">
                <input type="submit" class="btn btn-warning" name="forgot" value="Forgot Password">
      {% csrf_token %}
              </form>
              </div>

            </div>
          </div>
        </div>
      </div>
